<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>cppaper</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
  </head>
  <body>
    {{page.html}}
    <br/>
  </body>
</html>
